<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .h2_test {
        color: blue
        }

        ul {
            font-size: 25px
        }

        div.Java > a {
            color: green
        }
        
        input[type="text"] {
            background-color: pink
        }

        a:hover {
            color: blue
        }

        li::marker {
            color: pink
        }

        ul > li:nth-child(2) {
            color: orange
        }

        div {
            color: red
        }

    </style>
</head>
<body>
<div class="Java">
    <h1 id="h1_test">H1 test</h1>
    <h2 class="h2_test">H2 test</h2>
    <h2>H2 test2</h2>
    <p>Сегодня последний день действия промокода <span style="color: green">HELLO_WORLD</span>. С ним вы можете купить
        курс «Java: полный курс —
        подготовка к
        собеседованию» по цене 4 990 ₽ вместо 6 990 ₽ до 03:59 16 ноября 2025 г.</p>
    <a href="https://github.com/nasstulina/autotests-ui" target="_blank">Java</a>
    <img alt="smile.png" src="https://stepik.org/static/frontend/feedback/5.svg" style="width: 250px">
    <ul>
        <li>item 1</li>
        <li>item 2</li>
        <li>item 3</li>
    </ul>

    <ol>
        <li>item 1</li>
        <li>item 2</li>
        <li>item 3</li>
    </ol>


    <form action="/action" method="POST">
        <input type="text" placeholder="Login">
        <input required type="email" placeholder="Email">
        <input type="password" placeholder="Password">
        <textarea placeholder="Text">12345</textarea>
        <button id="login" type="submit" disabled>Send</button>
    </form>
</div>

<div class="Python">
    <h2>H2 test2</h2>
    <a href="https://github.com/nasstulina/autotests-ui" target="_blank">Python</a>
</div>

<div>
    <table>
        <thead>
        <tr>
            <td>Item 1</td>
            <td>Item 1</td>
            <td>Item 1</td>
        </tr>
        </thead>
        <tr>
            <td>Row 1</td>
            <td>Row 1</td>
            <td>Row 1</td>
        </tr>
        <tr>
            <td>Row 1</td>
            <td>Row 1</td>
            <td>Row 1</td>
        </tr>
    </table>
</div>

</body>
</html>
